::selection {
  background:rgba($solarized-cyan, 0.8);
  color:white !important;
}
html {
  height: 100%;
}

body {
  background: $blue;
  color:$bodyColor; 
  height:100%;
}

a {
  color:$yellow;
  text-decoration:none;
}


h1,h2,h3,h4 {
  font-weight:normal;
}

h1,h2,h3 {
  color:darken($bodyColor,10%);
}

$alpha: 2.6rem;
$beta: 2.2rem;
$gamma: 1.6rem;
