::selection {
  background:rgba($solarized-cyan, 0.8);
  color:white !important;
}
html {
  height: 100%;
  font-size:16px;
  line-height:1.2;
}

body {
  background: $blue;
  color:$bodyColor; 
  height:100%;
}

a {
  color:$yellow;
  text-decoration:none;
}


h1,h2,h3,h4,h5 {
  font-weight:normal;
}

h1,h2,h3 {
  color:darken($bodyColor,10%);
}


$alpha: 2.6rem;
$beta: 2.15rem;
$gamma: 1.7rem;
$delta: 1.25rem;
$epsilon: 1rem;
$zeta: 0.85rem;
$eta: 0.73rem;

$omega: 3.3rem;
$psi: 4.1rem;

.alpha {font-size: $alpha;}
.beta {font-size: $beta;}
.gamma {font-size: $gamma;}
.delta {font-size: $delta;}
.epsilon {font-size: $epsilon;}
.zeta {font-size: $zeta;}

.omega {font-size: $omega;}
.psi {font-size: $psi;}


h1 {font-size: $alpha;}
h2 {font-size: $beta;}
h3 {font-size: $gamma;}
h4 {font-size: $delta;}
h5 {font-size: $epsilon;}
