%btn {
  padding:0.4em 1em;
  display:inline-block;
  border:1px solid $headerColor;
  cursor: pointer;
  line-height:1;
  @include transition(all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1));
}

%btn:hover{
  border:1px solid $yellow;
}

.btn-disabled{
  color:#416984;
  border:1px solid #416984;
  background:none;
  cursor:default;
}

.btn-disabled:hover {@extend .btn-disabled;}

.btn-success {
  @extend %btn;
  color:rgba(#fff,0.8);
  background:$solarized-green;
  border:1px solid $solarized-green;
  &:hover{
    color:rgba(#fff,0.8);
    background:$solarized-green;
    border:1px solid $solarized-green;
  }
}


.btn-error{
  @extend %btn;
  color:rgba(#fff,0.8);
  background:$solarized-red;
  border:1px solid $solarized-red;
  &:hover{
    color:rgba(#fff,0.8);
    background:$solarized-red;
    border:1px solid $solarized-red;
  }
}

