.GameGrid {
  @extend %flexbox;
  margin:0 auto;
  background: $blue;
  position:relative;
  box-shadow:0px 30px 30px -30px rgba(#000, 0.1);
}

.gameBlock {
  //@include radial-gradient(circle at 0 0, #3b3ef7, #151EA2);
  height:4rem;
  padding:0.2rem;
  color:white;
  //border-right:1px solid rgba(0,0,0,0.1);
  //border-bottom:1px solid rgba(0,0,0,0.1);
  //border-top:1px solid rgba(255,255,255,0.05);
  //border-left:1px solid rgba(255,255,255,0.05);
}

.Category {
  @include flex(1);
}


%titleStyle {
  color:$headerColor;
}

.Category__title {
  @extend %flexbox;
  @extend .gameBlock;
  @extend %flexCenter;
  @extend %titleStyle;
  background:$blue;
  word-wrap: break-word;
  h4 {
    display:inline-block;
  }
}

.Clue {
  @extend %flexbox;
  @extend .gameBlock;  
  @extend %flexCenter;
  background:$blue;
  color: $yellow;
  &:hover {
    cursor: pointer;
    color:$blue;
    background:$yellow;
  }
}

.Clue__value {
  font-size:2.6rem;
  display: inline-block;
  &.fourDigit {
    font-size:2.2rem;
  }
}

.Clue--picked {
  color:$darkHeaderColor;
  &:hover {
    color:$darkHeaderColor;
    background:none;
    cursor: default;
  }
}


.ClueDetail {
  position:absolute;
  width:100%;
  height:100%;
  z-index:100;
  background:$blue;
  text-align:center;
  &.hide {
    display:none;
  }
}

.ClueDetail__title {
  @extend %titleStyle;
  font-size:1.6rem;
  margin-top:1.5rem;
  margin-bottom:1.5rem;
}

.ClueDetail__clue, .ClueDetail__answer{
  font-size:2.2rem;
}

.ClueDetail__answerHolder {
  @extend %flexbox;
  @extend %flexCenter;
  height:10rem;
}

.ClueDetail__answer {
  display:none;
  color:$yellow;
  margin-bottom:1.5rem;
  padding-top:1.3rem;
  &.show {
    display:block;
  }
}

.ClueDetail__showAnswer {
  @extend %btn;
  font-size:1.6rem;
}



.ClueDetail__done {
  display:block;
  margin:0 0.8rem;
  @extend %btn;
  font-size:1.6rem;
}

.Controls {
  @extend %flexbox;
  position:absolute;
  height:3rem;
  bottom:1rem;
  width:100%;
}

.PlayerBar {
  @extend %flexbox; 
  @extend %flexCenter;
  padding-top:0.5rem;
  position:relative;
}

.Player__group, .Control__group {
  @include flex(1);
}

.Player__group h4 {
  margin-bottom:0.2rem;
}

@mixin playerColor($color) {
  //border-top: 3px solid $color;
}

.PlayerDisplay {
  @include flex(1);
  display:block;
  height:3rem;
  h4{
    margin-top:0.6em; 
    margin-bottom:0;
    @extend %titleStyle;
    text-transform:uppercase;
  }
}

.PlayerDisplay--1 {
  @include playerColor(darken($headerColor,14%));
}

.PlayerDisplay--2 {
  @include playerColor(darken($headerColor,21%));
}

.PlayerDisplay--3 {
  @include playerColor(darken($headerColor,7%));
}

.PlayerDisplay--dummy {
  @include playerColor(darken($headerColor,15%));
  @extend .PlayerDisplay;
}

.PlayerDisplay__score {
  margin:0;
  color:$headerColor;
  font-size:$gamma;
}

.Control__group {
  a {
    display:inline-block;
    margin:0 auto;
    font-size:1.2rem;
    @extend %btn;
  }
}

%playerBtn {
  font-size:1.6rem;
  display:inline-block;
}

.PlayerBtn__wrong, .PlayerBtn__right {
  position:relative;
  @extend %playerBtn;
  @extend %btn;
  &:hover {
  z-index:10;
  
  }
}

.PlayerBtn__wrong.btn-error, .PlayerBtn__right.btn-success {
  z-index:11;
}

.PlayerBtn__right {
  margin-left:-1px;
}
