.GameGrid {
  @extend %flexbox;
  margin:0 auto;
  background:$blue;
  position:relative;
  //box-shadow:0px 0 130px 0 rgba(#000, 0.1);
}

.gameBlock {
  //@include radial-gradient(circle at 0 0, #3b3ef7, #151EA2);
  height:4.2rem;
  padding:0.2rem;
  color:white;
  //border-right:1px solid rgba(0,0,0,0.1);
  //border-bottom:1px solid rgba(0,0,0,0.1);
  //border-top:1px solid rgba(255,255,255,0.05);
  //border-left:1px solid rgba(255,255,255,0.05);
}

.Category {
  @include flex(1);
}


%titleStyle {
  color:$headerColor;
}

.Category__title {
  @extend %flexbox;
  @extend .gameBlock;
  @extend %flexCenter;
  @extend %titleStyle;
  //@include radial-gradient(50% 0, ellipse 120% 80%, $blue 50%, rgba(#000, 0.1));
  word-wrap: break-word;
  h4 {
    display:inline-block;
  }
}

.Clue {
  @extend %flexbox;
  @extend .gameBlock;  
  @extend %flexCenter;
  color: $yellow;
  &:hover {
    cursor: pointer;
    color:$blue;
    background:$yellow;
  }
}

.Clue__value {
  font-size:2.6rem;
  display: inline-block;
  &.fourDigit {
    font-size:2.2rem;
  }
}

.Clue--picked {
  color:$darkHeaderColor;
  &:hover {
    color:$darkHeaderColor;
    background:none;
    cursor: default;
  }
}


.ClueDetail {
  position:absolute;
  width:100%;
  height:100%;
  z-index:100;
  background:$blue;
  text-align:center;
  &.hide {
    display:none;
  }
}

.ClueDetail__title {
  @extend %titleStyle;
  font-size:1.6rem;
  margin-top:1.5rem;
  margin-bottom:1.5rem;
}


.ClueDetail__answer{
  font-size:2.2rem;
}
.ClueDetail__clue {
  font-size:1.8em;
}

.ClueDetail__answerHolder {
  @extend %flexbox;
  @extend %flexCenter;
  height:10rem;
}

.ClueDetail__answer {
  display:none;
  color:$yellow;
  margin-bottom:1.5rem;
  padding-top:1.3rem;
  &.show {
    display:block;
  }
}

.ClueDetail__showAnswer {
  @extend %btn;
  font-size:1.6rem;
}



.ClueDetail__done {
  display:block;
  margin:0 0.8rem;
  @extend %btn;
  font-size:1.6rem;
}

.Controls {
  @extend %flexbox;
  position:absolute;
  height:3rem;
  bottom:1px;
  width:100%;
}

.PlayerBar {
  @extend %flexbox; 
  @extend %flexCenter;
  //@include radial-gradient(50% 100%, ellipse 120% 80%, $blue 50%, darken($blue, 3%));
}

.Player__group, .Control__group {
  @include flex(1);
}

.Player__group h4 {
  margin-bottom:0.2rem;
}

@mixin playerColor($color) {
  //border-top: 3px solid $color;
}

.PlayerDisplay {
  @include flex(1);
  display:block;
  padding-top:0.5rem;
  h4{
    margin-top:0.6em; 
    margin-bottom:0;
    @extend %titleStyle;
    text-transform:uppercase;
  }
  &.red {
    h4 {
      color: $solarized-red; 
    }
  }
}


.PlayerDisplay--dummy {
  @include playerColor(darken($headerColor,15%));
}

.PlayerDisplay__score {
  margin:0 0 0.8rem;
  color:rgba(#fff,0.9);
  font-size:$gamma;
  .red & {
    color:$solarized-red;
  }
}

.Control__group {
  a {
    display:inline-block;
    margin:0 auto;
    font-size:1.2rem;
    @extend %btn;
  }
}

%AnswerBtn {
  font-size:1.6rem;
  display:inline-block;
  color:$yellow;
}

.AnswerBtn__wrong, .AnswerBtn__right {
  position:relative;
  @extend %AnswerBtn;
  @extend %btn;
  &:hover {
    z-index:10;
  }
}

.AnswerBtn__wrong.selected, .AnswerBtn__right.selected {
  z-index:11;
}

.AnswerBtn__right {
  margin-left:-1px;
}

.AnswerBtn__wrong.selected {
  @extend .btn-error;
}

.AnswerBtn__right.selected {
  @extend .btn-success;
}

.AnswerBtn__right.btn-disabled, .AnswerBtn__wrong.btn-disabled {
  @extend .btn-disabled; 
}
