.loading {
  text-align: center;
}

.flexGrid {
}

.HowToPlay {
  @extend %flexbox;
  margin-left:-1.5rem;
  margin-bottom:1.5rem; 
}

.HowToPlay__Step {
  @include flex(1);
  margin-left:1.5rem;
  p {
    @extend .epsilon;
    padding:0 1rem;
    text-align:center;
    margin:0;
  }
  img {
    width:100%;
    border:1px solid $headerColor;
    margin-bottom:0.6rem;
  }
}

.newGame {
  @extend %btn;
  font-size:$gamma;
  margin:0 auto;
}

.newGameRow {
  padding-top:1.5rem;
  padding-bottom:1.5rem;
  text-align: center;
}


.HomePage h2 {
  text-align:center;
  margin-bottom:1.5rem;
}

.HomePage h3 {
  text-align:center;
}

.HomePage__Blurb {
  text-transform: normal;

}



