.loading {
  text-align: center;
}
.newGame {
  @extend %btn;
  font-size:$gamma;
  margin:0 auto;
}

.newGameRow {
  padding-top:3rem;
  padding-bottom:3rem;
  text-align: center;
}

.HomePage p {
  @extend .delta;
}
