%flexCenter {
  justify-content: center;
  align-items: center;
  text-align:center;
}

.siteWide {
  max-width:50rem;
  margin:0 auto;
}


#app {
  @extend .siteWide;
  position:relative;
  min-height: 25rem;
}

.siteHeader {
  text-align:center;
  .headerBlock {
    background:$blue;
    display:inline-block;
  }
  h1 {
    @extend .beta;
    margin:0.8em 0 0.6em;

    font-weight:normal;
    a {
      color:$yellow;
      text-decoration: none;
    }
  }
}

footer {
  @extend .siteWide; 
  padding-top:1.5rem;
  p {
    font-size:$zeta;
    text-align: center;
    color:$headerColor;
  }
}
