@import "normalize-scss/normalize";
@import "bourbon/bourbon";
//@import "flexutils";
@import "sass-flex-mixin/flex";
@import "solarized/scss/solarized";

$blue: darken($solarized-blue, 25%);
$yellow: #ffe000;
$bodyColor: desaturate(lighten($blue,50%), 40%);
$headerColor: darken($bodyColor, 15%);

.hide {
  display:none !important;
}


@import 'base';
@import 'scaffold';
@import 'btn';
@import 'page-home.scss';
@import 'Game';
