@import "normalize-scss/normalize";
@import "bourbon/bourbon";
//@import "flexutils";
@import "sass-flex-mixin/flex";
@import "solarized/scss/solarized";

$blue: darken($solarized-blue, 25%);
$yellow: #ffe000;
$linkColor: $yellow;
$bodyColor: desaturate(lighten($blue,50%), 40%);
$headerColor: desaturate(darken($bodyColor, 15%), 5%);
$darkHeaderColor: darken($headerColor,15%);
$darkestBlue: darken($headerColor, 30%);

.hide {
  display:none !important;
}



@import 'base';
@import 'scaffold';
@import 'btn';
@import 'page-home.scss';
@import 'Game';
